#signin-section {
    height: 69.5vh;
}

#player-section {
    background-color: #301503;
    padding: 0px 0px 0px 0px;
}

#player-section .col-3 {
    padding-right: 0;
}

#player-section .col-9 {
    padding-left: 0;
}

#cert-section {
    background-color: #301503;
    padding: 20px 0px;
}

#footer-section {
    background-color: #f6e9cf;
}

@media print {
    @page {
        size: A4 landscape;
        max-height: 100%;
        max-width: 100%;
    }

    body * {
        visibility: hidden;
    }

    #print-section, 
    #print-section #box, 
    #print-section #box #nice-border, 
    #print-section #box .row .col-12 #sov-logo img, 
    #print-section #box #nice-border .row .col-12 #cert-title h1,
    #print-section #box #nice-border .row .col-12 .cert-description h3,
    #print-section #box #nice-border .row .col-12 .cert-bold h1,
    #print-section #box #nice-border .row .col-12 #line hr,
    #print-section #box #nice-border .row .col-12 #serial p,
    #print-section #box #nice-border .row .col-12 #serial p b {
        visibility: visible;
    }

    #print-section {
        position: absolute;
    }

    #print-me {
        visibility: hidden !important;
    }
}